<!DOCTYPE HTML>
<html>
	<head>	    
		<title>Sinatra Facebook Starter App</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>		
		<link rel="stylesheet" type="text/css" href="/css/screen.css">
		<!--[if LT IE 9]>
  			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<div id="fb-root"></div>
		<section id="main">
			<%= yield %>
		</section>

		<script type="text/javascript">
			window.fbAsyncInit = function() {
				FB.init({
					appId : "<%= ENV['FACEBOOK_APP_ID'] %>",
					status : true, // check login status
					cookie : true, // enable cookies to allow the server to access the session
					xfbml : true // parse XFBML
				});				
			};			

			(function(d) {
			var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			d.getElementsByTagName('head')[0].appendChild(js);
			}(document));

			$(function() {
				setTimeout(function() { window.scrollTo(0, 1) }, 100);
				$('#connect').click(function(e) {
					e.preventDefault();
					FB.login(function(response) {
						if (response.authResponse) {
							window.location = '/auth/facebook/callback';
						}
					}, { scope: '<%= FACEBOOK_SCOPE %>' });
				});
			});
		</script>
	</body>
</html>